extends layout

block content
    section
        .container.how_is_curiosito
            h1.title ¿Quién soy?
            .shape.shape--curiosito
            br
            p Soy curiosito, el robot en el que puedes confiar para resolver todas tus dudas sobre sexualidad. Fui programado para acompañarte a lo largo de tu proceso de autoexploración, brindarte la información que necesites y orientarte para que puedas tomar las mejores decisiones en esta nueva etapa de tu vida.
    section
        .container.how_is_curiosito
            h1.title ¿Por qué existo?
            .shape.shape--curiosito-2
            p México es el país con la tasa de embarazos adolescentes más alta entre los países de la OCDE. En méxico, en el año 2015, 2 de cada 5 adolescentes con niveles educativos muy bajos (sin educación o que han terminado sólo la educación primaria), habían tenido un nacido vivo o estaban embarazadas.
            p 
                small Instituto nacional de salud pública y UNICEF, 2016. Encuesta nacional de niños, niñas y mujeres.
            p
                br
                br
                |El embarazo adolescente es un problema de salud pública, pues la maternidad a temprana edad se relaciona con probabilidades más altas de pérdida del bebé, mortalidad y morbilidad infantil y complicaciones obstétricas y en el puerperio para las madres; pero también con la falta de acceso a métodos anticonceptivos e información pertinente sobre los derechos sexuales y reproductivos de las y los adolescentes.
                br
                |Menores de 15 años quedaron embarazadas en las primeras 4 relaciones tras iniciar noviazgo.
                br
                |Sobre el inicio de la vida sexual en la adolescencia, dijo que cerca del 63.4 por ciento se protege en su primer encuentro sexual, de este porcentaje, alrededor del 59.6 por ciento lo hace con preservativo.
                br
                br
            .shape.shape--curiosito-3
            p
                |Menos del 3 por ciento de las y los encuestados recibieron todos los contenidos sobre salud sexual y reproductiva durante la primaria; en secundaria el 20 por ciento recibió todos los contenidos, y en la educación media superior apenas el 9 por ciento lo hizo.
                br
                |En la secundaria los temas más frecuentemente expuestos por el personal docente son los relacionados con salud sexual y reproductiva. Los tres temas impartidos con mayor frecuencia son el uso de condón, cómo protegerse para prevenir un embarazo, y cómo protegerse para prevenir el VIH.
                br
                |Los temas menos abordados son las relaciones sexuales, el placer y cómo vencer barreras para conseguir condones u otros métodos anticonceptivos.
